body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  margin: 15px;
}

header {
  padding: 10px 20px
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

.endorsement-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.entry {
  padding: 0px 20px 0px 20px;
  margin: 10px;
}

.endorsement {
  width: 350px;
  padding: 0px 20px 0px 20px;
  margin: 10px;
}

#endorsement {
  display: flex;
  flex-direction: column;
}